<div class="container mt-1">
  <app-banner></app-banner>
</div>
<div class="container">
  <div class="row">
     <div class="col-12 col-lg-4 mt-3">
          We have a expertized list of Doctors on board which provide specialised services according to need .
          Lhjkafj jgadsfg kadfgajdhg asdfdas asdfdsaf asdfadsf asdfadsf<br><br>
          <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Appointment with Doctor</a>
     </div>
     <div class="col-12 col-lg-4 mt-3">
       We have well equiped laboratory to provide extensive range of test according to your need Lhjkafj jgadsfg kadfgajdhg asdfdas asdfdsaf asdfadsf asdfadsf
       <br><br>
       <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Go for a Test</a>

     </div>
     <div class="col-12 col-lg-4 mt-3">
      We connect with other peoples as well to provide extensive care to our patients Lhjkafj jgadsfg kadfgajdhg asdfdas asdfdsaf asdfadsf asdfadsf Lhjkafj jgadsfg kadfgajdhg asdfdas asdfdsaf asdfadsf asdfadsf
      <br>
      <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Visitors List</a>
     </div>
  </div>
</div>

